{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="homePageTop">
            <div id="search_bar">
                <input type="search" id="search" class="form-control" placeholder="Search..."/>
                <div class="input-group-btn">
                 <button type="button" id="search_button" class="btn btn-default">Search</button>
                </div>
            </div>
            <div class="categoriesPlace">
                <h3>Categories: </h3>
                {% for category in categories %}
                    <a class="categories" href="/item/categories/{{category.id}}">{{ category.name }}</a>
                {% endfor %}
            </div>
            <h1>All products</h1>
            <div id="items_for_sale">
                <div class="allItems">
                    {% for item in items %}
                        {% include 'fire_sale/single_item.html'%}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}