.nav_top {
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.nav_bottom {
    background-color: #5874EC;
    padding: 5px;
}

#buttons_bottom {
    display: inline-block;
}

#search_bar {
    display: inline-block;
    margin-left: 70%;
}
