body {
    background-color: #f1f1f1;
    min-height: 400px;
}

.container {
    min-height: 400px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover, .categories:hover, #item_name_home_page:hover, .createListingButton:hover, .updateListingButton:hover, .simItemName:hover, .makeBidButton:hover, .itemNameHomePage:hover, .each_bid_header:hover{
    text-decoration: none;
    color: #f5ccb8;
}


/* NAVIGATION BAR */

.navTop, .navBottom {
    padding: 10px 80px 10px 60px;
    display: flex;
    flex-direction: row;
}

.navTop {
    background-color: #ffffff;
}

.navBottom {
    background-color: #18ACBA;
}

#logo_div {
    display: flex;
    flex: 1.12;
    justify-content: flex-end;
    height: 100px;
}

#logo_button {
    background-color: transparent;
    border: none;
    width: 100px;
}

#logo_image {
    width: 110px;
}

#login_register_nav {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: flex-start;
}

#profile_info_nav {
    flex: 1;
    justify-content: flex-end;
}

#profile_info_nav_top, #profile_info_nav_bottom {
    display: flex;
    justify-content: right;
    margin-bottom: 8px;
}

#average_rating, #user_name {
    margin-right: 20px;
    margin-top: 10px;
    color: #008c96;
}

#star_icon {
    margin-top: 11px;
    margin-right: 3px;
    color: #008c96;
}

.profileImage {
    border-radius: 50%;
    border: 1px solid #008c96;
    width: 50px;
    height: 50px;
}


/* FOOTER */

.footer {
    background-color: #503434;
    color: #ffeee5;
    margin-top: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.aboutUsText {
    margin-bottom: 8px;
    font-size: small;
}


/* BUTTONS */

.lightButton, .darkButton, #already_acc_login_button, .editItemsButton {
    margin-left: 20px;
    font-weight: bold;
    width: 93px;
    height: 32px;
    border: none;
    border-radius: 5px;
    color: white;
}

.itemNameHomePage, .itemDescriptionPage {
    color: black;
    padding-left: 20px;
    padding-top: 7px;
    margin-bottom: 0px;
}

.buttonsBottom, #search_bar, .categoriesPlace {
    display: flex;
    flex: 1;
    background-color: transparent;
}

#lower_button, #categories_select {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    padding: 3px 15px 3px 15px;
    font-weight: bold;
}

#search_button {
    background-color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.makeBidButton, .createListingButton, .updateListingButton {
    background-color: #008c96;
    padding: 15px 15px 15px 15px;
    font-size: x-large;
    border: none;
    border-radius: 5px;
}

#decline_button {
    padding: 3px 10px 3px 10px;
    background-color: red;
}

#accept_button {
    padding: 3px 10px 3px 10px;
    background-color: #45d745;
}

.lightButton {
    background-color: #ffa998;
}

.darkButton {
    background-color: #f76566;
}

/* BLUE BOXES (login, register,profile,create item, edit item */

.blueBox {
    background-color: #94d9e0;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
}

.blueBoxBar {
    background-color: #18ACBA;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
}

.blueBoxHeader {
    margin: 0px;
}

.blueBoxForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.blueBoxFormReg {
    padding: 20px;
}

.blueBoxButton {
    background-color: #008c96;
    color: white;
    border: none;
    border-radius: 5px;
    width: 40%;
    font-weight: bold;
    font-size: large;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 175px;
    margin-top: 20px;

}

#already_acc_text {
    text-align: center;
    margin-top: 30px;
}

#already_acc_login_button {
    background-color: #008c96;
    margin-left: 600px;
}


/* HOME PAGE */

#items_for_sale {
    justify-content: space-evenly;
}

.eachItem {
    padding: 5px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #ffffff;
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px;
    width: 310px;
    height: 300px;
}

.itemImg {
    width: 300px;
    height: 200px;
}


/* ITEM */

#item_title {
    margin-left: 20px;
    margin-top: 20px;
}

.imgItemBox {
    max-height: 450px;
    overflow-y: auto;
}

.itemImgBig {
    width: 310px;
    height: 230px;
    margin-bottom: 10px;
}

.productInfo, .sellerInfo {
    padding: 20px;
}

#highest_bid {
    border-top: 1.5px solid #008c96;
    text-align: center;
}

#highest_bid_box {
    border-radius: 5px;
    border: 2px solid #008c96;
    padding: 2px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
}

#highest_bid_text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0px;
    color: #008c96;
}

.makeBidButton {
    margin-top: 30px;
    margin-left: 23%;
}

#img_seller {
    margin-top: 8%;
}


.simItemImg {
    width: 120px;
    height: 84px;
    border: 1px solid grey;
}

.simItemName {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.itemPage {
    height: 500px;
}

.imgItemBox, .imgDiv, #img_of_product, #shipping_info_overview, #payment_info_overview, #shipping, #payment_info, #rate_seller, #product_info, .productInfoBox, .sellerInfoBox, .bids, .infoProduct, .newBid, .similarItemsBox {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.similarItemsBox {
    overflow-y: auto;
}


/* FLEX */

.each_bid_div_left {
    flex: 0.8;
}

.each_bid_div_right, .bids, .productInfoBox, .imgItemBox, .sellerInfoBox, .bids, .largeButton, .makeBid, .imgDiv, .infoProduct, .newBid, #img_of_product, #shipping_info_overview, #payment_info_overview, #highest_bid, #img_of_product, .checkoutHeadingText, #shipping, #payment_info, #rate_seller, #product_info, #checkout_overview_center, #checkout_overview_bottom, .similarItems, .similarItems{
    flex: 1;
}

.fillInfo {
    flex: 1.8;
}

#description_product, #information_seller, #notify_method, #bid_amount {
    flex: 3;
}

.makeBidInfo, .bidType, .productInfoBox, .sellerInfoBox, .similarItemsBox {
    display: flex;
    height: 450px;
}

#profile_info_nav, .checkoutOverview, .productInfoBox, .sellerInfoBox, .bids, .infoProduct, .newBid, #log_in_buttons, .similarItemsBox {
    display: flex;
    flex-direction: column;
}

.each_bid_div, .myBids, .itemPage, .checkoutPage, #checkout_heading, #checkout_overview_center, #checkout_overview_bottom, .form form-horizontal {
    display: flex;
    flex-direction: row;
}

#highest_bid {
    border-top: 1.5px solid #008c96;
    text-align: center;
}

.headingCheckout, #shipping_method_checkbox{
    padding-bottom: 10px;
}

#img_of_product, #shipping_info_overview, #payment_info_overview {
    height: 250px;
}


/* HOME PAGE NAV 2.0 */

.homePageTop {
    display: flex;
    flex-direction: column;
}

#home_page_top_line_1 {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding: 8px 8px 8px 8px;
}

#search_bar {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

#search {
    border: none;
}

.categories, #categories_header, .sort, #sort_by_header, .each_bid_header  {
    color: black;
    margin-right: 15px;
}

#categories_header, #sort_by_header {
    font-weight: bold;
    margin-bottom: 0px;
}

.categoriesPlace, .sortBy {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
    background-color: white;
    border: 1px solid black;
    margin-right: 45px;
}

.categoriesPlace {
    flex: 0.75;
}

.sortBy {
    flex: 0.535;
}


/* MY BIDS */

.listingImage {
    width: 220px;
    height: 170px;
    margin: 15px;
}

.each_bid_div {
    border-bottom: 2px solid darkgrey;
    border-top: 2px solid darkgrey;
    margin: 5px;
}

.each_bid_sort {
    margin: 5px;
}

.each_bid_header {
    margin: 15px 0px 0px 15px;
}

.each_bid_div_right {
    margin-top: 80px;
    maring-left: 45px;
}

.editItemButtonsDiv {
    margin: 30px 10px 10px 45px;
}




