
<div class="nav_top">

    <div id="logo">
        <button id="logo_button"><a href="{% url 'fire_sale-home_page' %}">IMG</a></button>
    </div>
    {% if request.user.is_authenticated %}
        <div id="profile_info">
            <div>
                <p id="average_rating">Average rating</p>
                <p id="profile_photo">IMG</p>
            </div>
            <div>
                <button id="blue_button"><a href="{% url 'item-my_bids' %}">My Bids</a></button>
                <button id="blue_button"><a href="{% url 'user-my_profile' %}">My Profile</a></button>
                <button id="grey_button">Log out</button>
            </div>
        </div>ut
    {%  else %}
        <div id="login_register">
            <button id="login_button"><a href="{% url 'user-login' %}">Login</a></button>
            <button id="register_button"><a href="{% url 'user-register' %}">Register</a></button>
        </div>
    {% endif %}
</div>

<div class="nav_bottom">
    <div id="buttons_bottom">
        <button><a href="{% url 'fire_sale-home_page' %}">Home</a></button>
        {% if request.user.is_authenticated %}
            <button><a href="{% url 'item-create_item' %}">Create an item</a></button>
        {% endif %}
        <select id="categories_select">Category
            <option value="popular_items">Popular items</option>
            <option value="clothing">Clothing</option>
            <option value="electronics">Electronics</option>
            <option value="furniture">Furniture</option>
        </select>
    </div>
    <div id="search_bar">
        <input id="search" placeholder="Search...">
        <button id="search_button">IMG</button>
    </div>
</div>
