
<div class="navTop">

    <div id="logo_div">
        <button id="logo_button"><a href="{% url 'fire_sale-home_page' %}"><img id="logo_image" src="/static/images/logo_best_bids.png"></a></button>
    </div>
    {% if user.is_authenticated %}
        <div id="profile_info_nav">
            <div id="profile_info_nav_top">
                <p><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" id="star_icon" viewBox="0 0 16 16">
                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                    </svg></p>
                <p id="average_rating">{{ average_rating }}</p>
                <p id="user_name">{{ user }}</p>
                <img src="{{ user.profile.profile_picture }}" class="profileImage"/>
            </div>
            <div id="profile_info_nav_bottom">
                <button class="lightButton"><a href="{% url 'item-my_bids' user.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" id="item_icon" viewBox="0 0 16 16">
                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z"/>
                    </svg>My Listings</a></button>
                <button class="lightButton"><a href="{% url 'user-profile' %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" id="profile_icon" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>My Profile</a></button>
                <button class="darkButton"><a href="{% url 'user-logout' %}">Log out</a></button>
            </div>
        </div>
    {%  else %}
        <div id="login_register_nav">
            <button class="lightButton"><a href="{% url 'user-login' %}">Login</a></button>
            <button class="darkButton"><a href="{% url 'user-register' %}">Register</a></button>
        </div>
    {% endif %}
</div>

<div class="navBottom">
    <div class="buttonsBottom">
        <button id="lower_button"><a href="{% url 'fire_sale-home_page' %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" id="house_icon" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
            </svg>Home</a></button>
        {% if request.user.is_authenticated %}
            <button id="lower_button"><a href="{% url 'item-create_item' user.id %}">Create an item</a></button>
        {% endif %}
    </div>
</div>

