{% extends 'base.html' %}

{% block content %}
    <div id="checkout_heading">
        <h1 class="checkoutHeadingText">Offer accepted</h1>
        <h1 class="checkoutHeadingText">Checkout overview</h1>
    </div>
    <h2>{{ item }}</h2>

    <div class="checkoutOverview">
        <div id="checkout_overview_center">
            <div id="img_of_product">
                <img src="{{ item.images_set.first.image }}"/>
            </div>
            <div id="shipping_info_overview">
                <p>Shipping overview</p>
                {% for a in checkout_info %}
                    <p>Full name: {{ a.full_name }}</p>
                    <p>Address: {{ a.street_name }} {{ a.house_number }}</p>
                    <p>Location: {{ a.postal_code }}, {{ a.city }} {{ a.country }}</p>
                {% endfor %}
            </div>
            <div id="payment_info_overview">
                <p>Payment overview</p>
                {% for a in checkout_info %}
                    <p>Cardholder name: {{ a.cardholder_name }}</p>
                    <p>Card number: {{ a.cardnumber }}</p>
                    <p>Expiration date: {{ a.expiration_date }}</p>
                    <p>CVC: {{ a.cvc }}</p>
                {% endfor %}
            </div>
        </div>

        <div id="checkout_overview_bottom">
            <div id="product_info">
                <p>Price: {{ highest_bid_amount }}</p>
                <p>Description: {{ item.description }}</p>
            </div>
            <div id="confirm_bid">
                <button class="makeBidButton">CONFIRM PURCHASE</button>
            </div>
        </div>
    </div>

{% endblock %}