{% extends 'base.html' %}

{% block content %}

    <h1>Offer accepted</h1>
    <h2>{{ name }}</h2>
    <div class="checkoutPage">

        <div id="img_of_product">
            <img src="{{ item.images_set.first.image }}" />
            <p>Description: {{ item.description }}</p>
        </div>

        <form method="post" class="form form-horizontal">
            {% csrf_token %}
            {{ form }}
        <input type="submit" class="btn btn-primary" value="Submit" />
        </form>

        
        <div class="fillInfo">
            <div id="shipping">
                <div id="shipping_method">
                    <h1 class="headingCheckout">Checkout phase 1</h1>
                    <h2>Shipping method</h2>
                    <div id="shipping_method_checkbox">
                        <input type="checkbox" id="shipping_checkboxes" name="pickup" value="Pickup">
                        <label for="pickup">Pickup from seller - contact seller by email/phone</label>
                        <input type="checkbox" id="shipping_checkboxes" name="express_shipping" value="ExpressShipping">
                        <label for="express_shipping">Express shipping - $20 (delivered in 2-3 business days)</label>
                        <input type="checkbox" id="shipping_checkboxes" name="standard_shipping" value="StandardShipping">
                        <label for="standard_shipping">Standard shipping - FREE (delivered in 7-10 business days)</label>
                    </div>
                </div>
                <div id="shipping_info">
                    <h2>Shipping information</h2>
                    <div id="shipping_info_titles">
                        <p>Full name: <input id="full_name"></p>
                        <p>Street name: <input id="street_name"></p>
                        <p>House number: <input id="house_number"></p>
                        <p>Postal code: <input id="postal_code"></p>
                        <p>City: <input id="city"></p>
                        <p>Country: <input id="country"></p>
                    </div>
                </div>
            </div>

            <div id="payment_info">
                <h1 class="headingCheckout">Checkout phase 2</h1>
                <h2>Payment information</h2>
                <div id="payment_info">
                    <p>Cardholder name: <input id="cardholder_name"></p>
                    <p>Card number: <input id="card_number"></p>
                    <p>Expiration date: <input type="date" id="expiration_date"></p>
                    <p>CVC: <input id="cvc"></p>
                </div>
            </div>

            <div id="rate_seller">
                <h1 class="headingCheckout">Checkout phase 3</h1>
                <h4>Please rate the seller</h4>

                <span id="rateMe4" class="feedback"></span>


                <input type="radio" class="rating_option" name="rating" value="one_star">
                <input type="radio" class="rating_option" name="rating" value="two_stars">
                <input type="radio" class="rating_option" name="rating" value="three_stars">
                <input type="radio" class="rating_option" name="rating" value="four_stars">
                <input type="radio" class="rating_option" name="rating" value="five_stars">
            </div>

            <button class="makeBidButton"><a href="{% url 'checkout-checkout_phase2' item.id %}">Continue</a></button>
        </div>
    </div>

{% endblock %}