{% extends 'base.html' %}

{% block content %}
    <div id="checkout_heading">
        <h1 class="bigHeader">Checkout overview</h1>
    </div>
    <h2 class="bigHeader">{{ item }}</h2>

    <div class="checkoutOverview">
        <div id="checkout_overview_center">
            <div id="img_of_product">
                <img class="checkoutImg" src="{{ item.images_set.first.image }}"/>
            </div>
            <div id="shipping_info_overview">
                <h5 class="checkoutOverviewText"><b>Shipping overview</b></h5>
                {% for a in checkout_info %}
                    <p>Full name: {{ a.full_name }}</p>
                    <p>Address: {{ a.street_name }} {{ a.house_number }}</p>
                    <p>Location: {{ a.postal_code }}, {{ a.city }} {{ a.country }}</p>
                {% endfor %}
            </div>
            <div id="payment_info_overview">
                <h5 class="checkoutOverviewText"><b>Payment overview</b></h5>
                {% for a in checkout_info %}
                    <p>Cardholder name: {{ a.cardholder_name }}</p>
                    <p>Card number: {{ a.cardnumber }}</p>
                    <p>Expiration date: {{ a.expiration_date }}</p>
                    <p>CVC: {{ a.cvc }}</p>
                {% endfor %}
            </div>
        </div>

        <div id="checkout_overview_bottom">
            <div id="checkout_overview_bottom_left">
                <p>Price: {{ highest_bid_amount }}</p>
                <p>Description: {{ item.description }}</p>
            </div>
            <div id="checkout_overview_bottom_right">
                <a href="{% url 'item-delete_item' item.id %}" class="submitPurchaseButton">CONFIRM PURCHASE</a>
            </div>
        </div>
    </div>

{% endblock %}