{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="categoryPageTop">

            <div class="categoriesPlace">
                <h3>Categories: </h3>
                {% for category in categories %}
                    <a class="categories" href="/item/categories/{{category.id}}">{{ category.name }}</a>
                {% endfor %}
            </div>

            <div class="sortBy">
                <h5>Sort by:</h5>
                <a class="sort" href="/">Name</a>
                <a class="sort" href="/">Price</a>
            </div>

            <h1>{{ context }}</h1>
            <div id="items_for_sale">
                <div class="allItems">
                    {% for item in items %}
                        {% include 'fire_sale/single_item.html'%}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}