{% extends 'base.html' %}

{% block content %}
    <div class="logInRegBox">
        <div class="logInResBar">
                <p class="loginRegHeader">Create new listing</p>
        </div>
        <form class="createItemListing" action="{% url 'item-create_item' %}" method="post">
        {% csrf_token %}
        {{ form }}
            <div class="saveInformation">
                <input type="submit" class="createListingButton" value="CREATE LISTING"/>
            </div>
        </form>
    </div>


{% endblock %}