{% extends 'base.html' %}

{% block content %}
    <h1 id="item_title">{{ item.name }}</h1>
    <div class="itemPage">
        <div class="imgItemBox">
            {% for item_image in item.images_set.all %}
                <img class="itemImgBig" src="{{ item_image.image }}" />
            {% endfor %}
        </div>
        <div class="productInfoBox">
            <h2>Product information</h2>
            <div class="productInfo">
                <p><b>Condition: </b>{{ item.condition }}</p>
                <p><b>Description: </b>{{ item.description }}</p>
                <p><b>Category: </b>{{ item.category }}</p>
            </div>
            <div id="highest_bid_box">
                <p id="highest_bid_text">Highest bid: {{ highest_bid }}</p>
            </div>
            <div class="largeButton">
                <button class="makeBidButton"><a href="{% url 'item-make_bid' item.id %}">MAKE A BID</a></button>
            </div>
        </div>
        <div class="sellerInfoBox">
            <h2>Seller information</h2>
            <div class="seller">
                <div id="img_seller">
                    <img class="itemImg" src="{{ seller.profile.profile_picture }}" />
                </div>
                <div class="sellerInfo">
                    <p><b>Name: </b>{{ full_name }}</p>
                    <p><b>Average rating: </b>{{ average_rating_seller }}</p>
                </div>
            </div>
        </div>
        <div class="similarItemsBox">
            <h5>Similar Items</h5>
            {% for item in similar_items %}
                <div class="similarItems">
                    <a class="similarItem" href="/item/{{ item.id }}">
                        <img class="simItemImg" src="{{ item.images_set.first.image }}" />
                        <p class="simItemName"> {{ item.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}