{% extends 'base.html' %}

{% block content %}

    <h1>{{ item.name }}</h1>
    <div>
        <div id="img_comp">
            <p>IMG</p>
        </div>
        <div class="productInfoBox">
            <div class="productInfo">
                <h2>Product information</h2>
                <p>Condition: {{ item.condition }}</p>
                <p>Description: {{ item.description }}</p>
                <p>Category: {{ item.category }}</p>
            </div>
            <div class="makeABid">
                <button id="make_a_bid_button"><a href="{% url 'item-make_bid' %}">MAKE A BID</a></button>
            </div>
        </div>
        <div class="sellerInfoBox">
            <div class="seller">
                <div id="img_seller">
                    <p>IMG</p>
                </div>
                <div class="sellerInfo">
                    <h3>Seller information</h3>
                    <p>Name: {{ item.seller_id_id }}</p>
                    <p>Average rating: 4,5</p>
                </div>
            </div>
            <div class="highestBid">
                <p>Highest bid: ${{ item.highest_bid }}</p>
            </div>
        </div>
        <div class="moreLikeThisBox">
            <div class="moreLikeThis">
                <p>More like this!</p>
            </div>
            <div class="moreLikeThisItems">
                <div id="more_like_this_macbook_air">
                    <p>IMG</p>
                    <p>MacBook Air</p>
                </div>
                <div id="more_like_this_macbook_pro">
                    <p>IMG</p>
                    <p>MacBook Pro</p>
                </div>
                <div id="more_like_this_vintage">
                    <p>IMG</p>
                    <p>Vintage computer</p>
                </div>
            </div>
        </div>

    </div>



{% endblock %}