{% extends 'base.html' %}

{% block content %}
    <h1 id="item_title">{{ item.name }}</h1>
    <div class="itemPage">
        <div class="imgItem">
            {% for item_image in item.images_set.all %}
                <img class="itemImgBig" src="{{ item_image.image }}" />
            {% endfor %}
        </div>
        <div class="productInfoBox">
            <div class="productInfo">
                <h2>Product information</h2>
                <p>Condition: {{ item.condition }}</p>
                <p>Description: {{ item.description }}</p>
                <p>Category: {{ item.category }}</p>
            </div>
            <div class="largeButton">
                <button class="makeBidButton"><a href="{% url 'item-make_bid' item.id %}">MAKE A BID</a></button>
            </div>
        </div>
        <div class="sellerInfoBox">
            <div class="seller">
                <div id="img_seller">
                    <img class="itemImg" src="{{ seller.profile.profile_picture }}" />
                </div>
                <div class="sellerInfo">
                    <h3>Seller information</h3>
                    <p>Name: {{ full_name }}</p>
                    <p>Average rating: {{ seller.average_rating }}</p>
                </div>
            </div>
            <div class="highestBid">
                <p>Highest bid: ${{ highest_bid }}</p>
            </div>
        </div>
        <div class="similarItemsBox">
            <h5>Similar Items</h5>
            {% for item in similar_items %}
                <div class="similarItems">
                    <a class="similarItem" href="/item/{{ item.id }}">
                        <img class="simItemImg" src="{{ item.images_set.first.image }}" />
                        <p class="simItemName"> {{ item.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}