{% extends 'base.html' %}


{% block content %}
    <h2> {{ bid_item.name }} </h2>
    <div class=makeBidInfo>
        <div class="imgItem">
            <img class="itemImg" src="{{ bid_item.images_set.first.image }}" />
        </div>
        <div class="infoProduct">
            <div id=description_product>
                <h3>Description of the product</h3>
                <p>{{ bid_item.description }}</p>
            </div>
            <div id=information_seller>
                <h3>Information on seller</h3>
                <p>Name: {{ full_name }}</p>
                <p>Bio: {{ bio }}</p>
            </div>
            <div id="highest_bid">
                <h4 id="highest_bid_text">Highest bid</h4>
            </div>
        </div>
        <div class="newBid">
            <h2>New bid</h2>
            <p>You will get notified in 'My listings' if your bid is accepted</p>
            <div id="bid_amounts">
                <p>Bid amount ($):</p>
                <form method="post" class="form form-horizontal">
                    {% csrf_token %}
                    {{ form }}
                <input type="submit" class="btn btn-primary" value="Submit" />
                </form>
            </div>
            <div class="makeBid">
                <button class="makeBidButton"><a href="{% url 'item-my_bids' user.id %}">CONFIRM BID</a></button>
            </div>

        </div>



    </div>

{% endblock %}