{% extends 'base.html' %}

{% block content %}
    <div class="blueBox">
        <div class="blueBoxBar">
            <p class="blueBoxHeader">Login</p>
        </div>
        <form method="post" class="blueBoxForm">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="blueBoxButton" value="Login"/>
        </form>
    </div>
    <div>
        <p id="already_acc_text">Don't have an account ?</p>
        <button id="new_acc_login_button"><a href="{% url 'user-login' %}">Sign up</a></button>
    </div>

{% endblock %}