{% extends 'base.html' %}

{% block content %}
    <div class="blueBox">
        <div class="blueBoxBar">
             <p class="blueBoxHeader">Create an account</p>
        </div>
        <form class="blueBoxFormReg" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="blueBoxButton" value="Sign up"/>
        </form>
    </div>
    <div>
        <p id="already_acc_text">Already have an account ?</p>
        <button id="already_acc_login_button"><a href="{% url 'user-login' %}">Login</a></button>
    </div>

{% endblock %}